fastapi>=0.95
uvicorn[standard]>=0.21
python-multipart

# Database
SQLAlchemy>=2.0
python-dotenv>=1.0
alembic>=1.13
geoalchemy2>=0.11.1
psycopg2-binary>=2.9.10
shapely>=2.0.0

# auth
python-jose[cryptography]>= 3.5.0
google-auth >= 2.43.0
requests>=2.31.0
bcrypt>=5.0.0

#scheduler
pytz>= 2025.2
apscheduler >=3.11.2